//Fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// General Style

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
outline: initial;
}